/* 
 * Manulife JH
 *
 * Sans Light
 * Sans Regular
 * Sans Demibold
 * Sans Bold
 *
 * Serif Italic
 *
 */

@font-face {
	font-family:'Manulife JH Sans';
	src:	url('ManulifeJHSans-Light.eot');
	src:	url('ManulifeJHSans-Light.eot?#iefix') format('embedded-opentype'),
			url('ManulifeJHSans-Light.woff2') format('woff2'),
			url('ManulifeJHSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family:'Manulife JH Sans';
	src:	url('ManulifeJHSans.eot');
	src:	url('ManulifeJHSans.eot?#iefix') format('embedded-opentype'),
			url('ManulifeJHSans.woff2') format('woff2'),
			url('ManulifeJHSans.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family:'Manulife JH Sans';
	src:	url('ManulifeJHSans-Demibold.eot');
	src:	url('ManulifeJHSans-Demibold.eot?#iefix') format('embedded-opentype'),
			url('ManulifeJHSans-Demibold.woff2') format('woff2'),
			url('ManulifeJHSans-Demibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family:'Manulife JH Sans';
	src:	url('ManulifeJHSans-Bold.eot');
	src:	url('ManulifeJHSans-Bold.eot?#iefix') format('embedded-opentype'),
			url('ManulifeJHSans-Bold.woff2') format('woff2'),
			url('ManulifeJHSans-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family:'Manulife JH Serif';
	src:	url('ManulifeJHSerif.eot');
	src:	url('ManulifeJHSerif.eot?#iefix') format('embedded-opentype'),
			url('ManulifeJHSerif.woff2') format('woff2'),
			url('ManulifeJHSerif.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}